@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-title: "Fraunces", serif;
  --font-text: "Montserrat", sans-serif;
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
}

image,
picture, 
svg,
video {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: var(--font-title);
}

p, li, figcaption {
  text-wrap: pretty;
  font-family: var(--font-text);
}

.main-container {
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.preview-card {
  max-width: 400px;
}

.preview-card-image {
  width: 100%;
  height: auto;
  display: block;
}

.preview-card,
.preview-card-image {
  border-radius: 1rem 1rem 0 0 ;
}

.preview-card,
.preview-card-content {
  border-radius: 0 0 1rem 1rem;
}

.preview-card-content {
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.preview-card-content .category {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--grey);
  font-weight: 500;
  font-size: 0.9rem;
}

.preview-card-content .title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.1;
  color: var(--black);
  margin: 1rem 0 1.5rem 0;
}

.preview-card-content .description {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--grey);
  font-weight: 500;
}

.preview-card-content .price-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.preview-card-content .price-container .current-price {
  font-family: var(--font-title);
  color: var(--green-500);
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

.preview-card-content .price-container .old-price {
  font-size: 0.9rem;
  color: var(--grey);
  text-decoration: line-through;
  text-decoration-thickness: 0.5px;
}

.preview-card-content .cart-button {
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: var(--green-500);
  color: var(--white);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.preview-card-content .cart-button .icon {
  margin-right: 1rem;
}

.preview-card-content .cart-button:hover,
.preview-card-content .cart-button:focus,
.preview-card-content .cart-button:active {
  background-color: var(--green-700);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .preview-card {
    display: flex;
    max-width: 620px;
  }

  .preview-card-image {
    height: 100%;
  }
  
  .preview-card-content {
    max-width: 50%;
    padding: 3rem;
  }

  .preview-card,
  .preview-card-image {
    border-radius: 1rem 0 0 1rem ;
  }

  .preview-card,
  .preview-card-content {
    border-radius: 0 1rem 1rem 0;
  }

  .preview-card .price-container {
    margin: 1rem 0;
  }

}